body{
    background-color: bisque;
}

header{
    /* padding: 0px; */
    background-color: palegreen;
}

.navbar{
    padding-bottom: 0;
}

.container-fluid{
    padding-right: 0;
    padding-left: 0;
}

#logotype{
    max-width: 140px;
    min-width: 100px;
    height: 100px;
    margin: 5px;
}

.navigation{
    /* width: 100%; */
    margin: 0;
    background-color: lightsalmon;
}

.nav-link{
    font-size: 170%;
    color: indigo;
}

.container{
    max-width: 100%;
}

.start-list,
.start-table,
.start-shape{
    width: 100%;
    background-color: ivory;
    margin: 0 auto;
    margin-top: 5%;
}

.odd-row{
    background-color: khaki;
}

.even-row{
    background-color: plum;
}

footer{
    background-color: aqua;
}
