body{
    background-color: bisque;
}

header{
    background-color: palegreen;
}

.navbar{
    padding-top: 0;
    padding-bottom: 0;
}

.container-fluid{
    flex-wrap: wrap;
    padding-right: 0;
    padding-left: 0;
    max-width: 100%;
}

#logotype{
    max-width: 140px;
    min-width: 100px;
    height: 100px;
    margin: 5px;
}

.navigation{
    margin: 0;
    background-color: lightsalmon;
}

.nav-link{
    font-size: 170%;
    color: indigo;
}

@media (min-width: 576px) and (max-width: 767px) {

    .nav-link{
        font-size: 100%;
    }

    .name{
        font-size: 140%;
    }

}

.content.row{
    width: 100%;
    flex-direction: column;
    padding-right: 0;
    padding-left: 0;
    margin: 0;
}

.container{
    padding-right: 0;
    padding-left: 0;
    max-width: 1500px;
}

.start-list,
.start-table,
.start-shape{
    width: 100%;
    background-color: ivory;
    margin: 0;
    margin-top: 5%;
}

@media (min-width: 576px) {

    .start-list,
    .start-table,
    .start-shape{
        padding: 30px;
    }

    .start-list,
    .start-shape{
        border-radius: 60px;
    }

    .start-table{
        border-radius: 20px;
    }

}

footer{
    margin-top: 5%;
    background-color: aqua;
}
