body{
    background-color: bisque;
    margin: 0;
}

header{
    margin: 0;
    width: 100%;
    height: 310px;
    display: flex;
    flex-flow: column wrap;
    background-color: palegreen;
}

#logotype{
    float: left;
    margin: 5px;
    width: 25%;
    max-width: 140px;
    min-width: 100px;
    height: 100px;
}

.name{
    width: 145px;
    font-size: 200%;
    float: right;
    padding: 10px;
    margin: 10px;
    margin-right: 2%;
}

.navigation{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: lightsalmon;
    height: 200px;
    width: 100%;
    float: left;
}

.navigation a{
    font-size: 170%;
    margin: 10px;
    color: indigo;
}

@media screen and (orientation: landscape) and (min-width: 320px) and (min-height: 240px)
and (max-width: 5120px) and (max-height: 2880px){

    header{
        display: block;
        height: 110px;
    }
    
    #logotype{
        width: 125px;
    }
    
    .name{
        width: 190px;
        font-size: 270%;
        float: left;
        padding: 20px;
        margin: 1px;
    }
    
    .navigation{
        display: block;
        height: 50%;
        width: 55%;
        min-width: 500px;
        max-width: 600px;
        float: right;
        margin: 0px 0px 10px 10px;
        padding: 1%;
    }
    
    .navigation a{
        margin: 2%;
    }

}

.content{
    display: flex;
    flex-direction: column;
}

.start-list,
.start-table,
.start-shape{
    width: 100%;
    background-color: ivory;
    margin: 0 auto;
    margin-top: 5%;
}

.start-list{
    order: 2;
}

.start-table{
    order: 1;
    padding-bottom: 20px;
}

.start-shape{
    order: 3;
}

@media screen and (orientation: landscape) and (min-width: 320px) and (min-height: 240px)
and (max-width: 5120px) and (max-height: 2880px){

    .content{
        display: block;
    }

    .start-list,
    .start-table,
    .start-shape{
        max-width: 900px;
        padding: 30px;
    }

    .start-list,
    .start-shape{
        border-radius: 100px;
    }

    .start-table{
        border-radius: 20px;
    }

}

.start-list h2,
.start-table h2,
.start-shape{
    padding-left: 40px;
}

@media screen and (orientation: landscape) and (min-width: 320px) and (min-height: 240px)
and (max-width: 5120px) and (max-height: 2880px){

    .start-table h2{
        padding-left: 0;
    }

}

.image{
    max-width: 100%;
    max-height: 500px;
}

.table{
    font-size: 40%;
    width: 100%;
}

@media screen and (min-width: 480px){
    
    .table{
        font-size: 45%;
    }

    @media screen and (min-width: 540px){
    
        .table{
            font-size: 50%;
        }

        @media screen and (min-width: 600px){
    
            .table{
                font-size: 55%;
            }
        
            @media screen and (min-width: 660px){
    
                .table{
                    font-size: 60%;
                }
            
                @media screen and (min-width: 720px){
    
                    .table{
                        font-size: 60%;
                    }
                
                }

            }

        }
    
    }

}

@media screen and (orientation: landscape) and (min-width: 320px) and (min-height: 240px)
and (max-width: 5120px) and (max-height: 2880px){

    .table{
        font-size: 100%;
    }

}

.odd-row{
    background-color: khaki;
}

.even-row{
    background-color: plum;
}

footer{
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-top: 5%;
    background-color: aqua;
}